@font-face {
	font-display: block;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: local("Poppins Regular"), local("Poppins-Regular"),
		url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-display: block;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: local("Poppins Medium"), local("Poppins-Medium"),
		url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.demo {
	display: flex;
	.left {
		width: 200px;
		padding: 20px;
		flex-shrink: 0;

		.menu {
			a {
				color: #333333;
				border-radius: 4px;
				display: flex;
				padding: 5px 10px;
				text-decoration: none;
				background-color: white;
				&.active {
					background-color: #e5ebf4;
				}
			}
		}
	}
	.right {
		flex-grow: 1;
		padding: 20px;
		.page {
			h1 {
				margin-top: 0;
			}
		}
	}
}
